
.activeproject { }
.activeproject .projectclose {position: absolute; cursor: pointer; background: url('../img/work/CloseBtn.svg'); width: 25px; height: 25px; top:10px; right: 0px;}
.activeproject .seasonheadertop { font-family: 'TitilliumText25L999wt'; font-size: 16px; color: #515151; margin-left: 10px; margin-bottom: 5px;}
.activeproject .seasonheader { font-family: 'TitilliumText25L999wt'; font-size: 16px; color: #515151; margin-left: 10px; margin-bottom: 5px; margin-top: 15px;}
.activeproject .category { font-family: 'TitilliumText25L600wt'; font-size: 16px; color: #515151; margin-top: 6px;}
.activeproject .projectname { font-family: 'TitilliumText25L600wt'; font-size: 30px; color: #515151; margin-top:2px;}
.activeproject .client { font-family: 'TitilliumText25L600wt'; font-size: 14px; color: #515151; margin-top:4px; line-height: 1.2;}
.activeproject .summary { font-family: 'TitilliumText25L600wt'; font-size: 16px; color: #515151; margin-top:20px; line-height: 1.1;}
.activeproject .summary b { font-family: 'TitilliumText25L800wt'; }
.activeproject .launchsite { margin-top:20px;}
.activeproject .launchsite a { font-family: 'TitilliumText25L999wt'; font-size: 16px; color: #EE3124; text-decoration: none;}
.activeproject .launchsite a img { margin-left:6px; }
.activeproject .teamheader { font-family: 'TitilliumText25L999wt'; font-size: 16px; color: #515151; margin-top:40px; margin-bottom: 15px; padding-top: 10px; border-top: 1px solid #D3D3d3;}
.activeproject .teamcontent { font-family: 'TitilliumText25L600wt'; font-size: 16px; color: #515151; margin-top:3px;}
.activeproject .teamcontent .bold{ font-family: 'TitilliumText25L999wt'; font-size: 16px; color: #515151; }

.activeproject .podcast { float: left; margin-left:10px; margin-top:10px; margin-bottom: 25px;height: 207px;}
.activeproject .largepodcast { height: 307px;}
.activeproject .vidthumb { float: left; margin-left:10px; margin-top:10px; margin-bottom: 25px; width: 310px; height: 200px;}
.activeproject .vidthumb img { width: 310px; cursor: pointer; height: 177px; -moz-box-shadow:0px 0px 5px 5px rgba(208, 208, 208, 0.5);
-webkit-box-shadow:0px 0px 5px 5px rgba(208, 208, 208, 0.5);
box-shadow:0px 0px 5px 5px rgba(208, 208, 208, 0.5);
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#515151')";
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#515151');}
.activeproject .vidthumbsmall { float: left; margin-left:6px; margin-top:10px; width: 100px; height: 56px;}
.activeproject .vidthumbsmallfirst { float: left; margin-top:10px; width: 100px; height: 56px;}
.activeproject .vidthumbsmall img { cursor: pointer;}
.activeproject .videowindow { float: left; margin-left:10px; margin-top:10px; margin-bottom: 25px;-moz-box-shadow:0px 0px 5px 5px rgba(208, 208, 208, 0.5);
-webkit-box-shadow:0px 0px 5px 5px rgba(208, 208, 208, 0.5);
box-shadow:0px 0px 5px 5px rgba(208, 208, 208, 0.5);
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#515151')";
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#515151');}

.activeproject .videowindowsmallcontainer {float: left; margin-left: 10px; margin-bottom: 25px;  -moz-box-shadow:0px 0px 5px 5px rgba(208, 208, 208, 0.5);
-webkit-box-shadow:0px 0px 5px 5px rgba(208, 208, 208, 0.5);
box-shadow:0px 0px 5px 5px rgba(208, 208, 208, 0.5);
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#515151')";
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#515151');}

.activeproject .videowindowsmall { }
.activeproject .projectimagefull { float: left; margin-left:10px; margin-top:10px; margin-bottom: 25px; -moz-box-shadow:0px 0px 5px 5px rgba(208, 208, 208, 0.5);
-webkit-box-shadow:0px 0px 5px 5px rgba(208, 208, 208, 0.5);
box-shadow:0px 0px 5px 5px rgba(208, 208, 208, 0.5);
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#515151')";
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#515151');}

.activeproject .title { font-family: 'TitilliumText25L800wt'; font-size: 16px; color: #515151; margin-top:10px; width: 310px; }
.activeproject .subtitle { font-family: 'TitilliumText25L600wt'; font-size: 16px; color: #515151; width: 310px; }
.activeproject .tile { width: 310px; height: 177px; -moz-box-shadow:0px 0px 5px 5px rgba(208, 208, 208, 0.5);
-webkit-box-shadow:0px 0px 5px 5px rgba(208, 208, 208, 0.5);
box-shadow:0px 0px 5px 5px rgba(208, 208, 208, 0.5);
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#515151')";
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#515151');}
.activeproject .largetile { height: 277px; }
.activeproject .link {}
.activeproject .link a { font-family: 'TitilliumText25L600wt'; font-size: 16px; color: #EE3124; text-decoration: none;}

.activeproject .podcastlistitem { position: relative; width: 630px; border-top: 1px solid #D3D3d3; border-bottom: 1px solid #D3D3d3; margin-top: -1px; height: 39px; margin-left: 10px;}
.activeproject .podcastlistitem .title { font-family: 'TitilliumText25L600wt'; font-size: 16px; color: #515151; position: absolute; left: 0px; top: 3px; width: 450px;}
.activeproject .podcastlistitem .playerlist { position: absolute; left: 355px; top: -2px;}

.activeproject .document { float: left; margin-left:10px; margin-top:10px; margin-bottom: 25px;}
.activeproject .document .tile {height: 215px;}

.activeproject .podcastlarge { float: left; margin-left:10px; margin-top:10px; margin-bottom: 25px; width: 630px; height: 400px;
                                 -moz-box-shadow:0px 0px 5px 5px rgba(208, 208, 208, 0.5);
                                -webkit-box-shadow:0px 0px 5px 5px rgba(208, 208, 208, 0.5);
                                box-shadow:0px 0px 5px 5px rgba(208, 208, 208, 0.5);
                                -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#515151')";
                                filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#515151');}
.activeproject .podcastlarge .title { font-family: 'TitilliumText25L600wt'; font-size: 16px; color: #515151; margin-top:10px; margin-left: 10px; width: 630px; }
.activeproject .podcastlarge .player { margin-left: 10px; margin-top:10px; }
.activeprojectinfo {width: 300px; float: left; margin-top: 20px; margin-right: 10px;}
.activeprojectheader { width: 640px; float: left; margin-top: 20px;}

.activeproject .imageviewport {float: left; margin-left:10px; margin-top:10px; margin-bottom: 25px;
                                width: 630px; height: 396px; z-index: 0; overflow: hidden; position: relative;
                            -moz-box-shadow:0px 0px 5px 5px rgba(208, 208, 208, 0.5);
                                -webkit-box-shadow:0px 0px 5px 5px rgba(208, 208, 208, 0.5);
                                box-shadow:0px 0px 5px 5px rgba(208, 208, 208, 0.5);
                                -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#515151')";
                                filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#515151');}
.activeproject .imagecontainer {width: 1890px; }
.activeproject .imageitemcontainer { width: 630px; }
.activeproject .imageitemcontainer img { width: 630px;}
.activeproject .player { height: 45px; width: 310px; background-image: url('../img/player.png'); background-position-x: -3px;
background-position-y: 3px;
background-repeat: no-repeat;}
.activeproject .playerlist { height: 45px; width: 310px; background-image: url('../img/player.png'); background-position-x: -3px;
background-position-y: 3px;
background-repeat: no-repeat;}
#imagesliderleftcontainer { position: absolute; right: 100%; top: 0px;}
#imagesliderleftcontainer img { width: 630px;}
#imagesliderrightcontainer { position: absolute; left: 100%; top: 0px;}
#imagesliderrightcontainer img { width: 630px;}
#imagespinleft { position: absolute; left: 0px; top: 177px; width: 50px; height: 40px; background:  url('../img/work/LeftArrowPhoto.svg') top no-repeat; cursor: pointer;}
#imagespinright { position: absolute; right: 0px; top: 177px; width: 50px; height: 40px; background: url('../img/work/RightArrowPhoto.svg') top no-repeat; cursor: pointer;}

#imagesliderleftcontainer2 { position: absolute; right: 100%; top: 0px;}
#imagesliderleftcontainer2 img { width: 630px;}
#imagesliderrightcontainer2 { position: absolute; left: 100%; top: 0px;}
#imagesliderrightcontainer2 img { width: 630px;}
#imagespinleft2 { position: absolute; left: 0px; top: 177px; width: 50px; height: 40px; background:  url('../img/work/LeftArrowPhoto.svg') top no-repeat; cursor: pointer;}
#imagespinright2 { position: absolute; right: 0px; top: 177px; width: 50px; height: 40px; background: url('../img/work/RightArrowPhoto.svg') top no-repeat; cursor: pointer;}
